<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="ChatLog" value="C:/Mythic/Isles/chat.log" />
    <add key="GamePath" value="C:/Mythic/Isles/" />
    <add key="RegKey" value="" />
    <add key="EnableEuro" value="False" />  
    <add key="EnableTOA" value="False" />  
    <add key="EnableClassic" value="False" />  
    <add key="GameProcessExe" value="game.dll"/>
    <add key="ServerIP" value="" />
    <add key="CharacterName" value="" />
    <add key="Profile" value="" />
  </appSettings>
</configuration>